<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Library_Management_System</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>file</display-name>
    <servlet-name>file</servlet-name>
    <servlet-class>myPackageDao.file</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>file</servlet-name>
    <url-pattern>/file</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>myPackageDao.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBUtil</display-name>
    <servlet-name>DBUtil</servlet-name>
    <servlet-class>myPackageutil.DBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtil</servlet-name>
    <url-pattern>/DBUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>myPackageServlet.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>myPackageServlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>myPackageServlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>myPackageServlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfileServlet</display-name>
    <servlet-name>ViewProfileServlet</servlet-name>
    <servlet-class>myPackageUserServlet.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfileServlet</servlet-name>
    <url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServlet</display-name>
    <servlet-name>AddBookServlet</servlet-name>
    <servlet-class>controller.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServlet</servlet-name>
    <url-pattern>/AddBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServlet</display-name>
    <servlet-name>AddStudentServlet</servlet-name>
    <servlet-class>controller.AddStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServlet</servlet-name>
    <url-pattern>/AddStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckDue</display-name>
    <servlet-name>CheckDue</servlet-name>
    <servlet-class>controller.CheckDue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckDue</servlet-name>
    <url-pattern>/CheckDue</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelBook</display-name>
    <servlet-name>DelBook</servlet-name>
    <servlet-class>controller.DelBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelBook</servlet-name>
    <url-pattern>/DelBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelStudentServlet</display-name>
    <servlet-name>DelStudentServlet</servlet-name>
    <servlet-class>controller.DelStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelStudentServlet</servlet-name>
    <url-pattern>/DelStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStudents</display-name>
    <servlet-name>DisplayStudents</servlet-name>
    <servlet-class>controller.DisplayStudents</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStudents</servlet-name>
    <url-pattern>/DisplayStudents</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBook</display-name>
    <servlet-name>IssueBook</servlet-name>
    <servlet-class>controller.IssueBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBook</servlet-name>
    <url-pattern>/IssueBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListBooksServlet</display-name>
    <servlet-name>ListBooksServlet</servlet-name>
    <servlet-class>controller.ListBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBooksServlet</servlet-name>
    <url-pattern>/ListBooksServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBook</display-name>
    <servlet-name>ReturnBook</servlet-name>
    <servlet-class>controller.ReturnBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBook</servlet-name>
    <url-pattern>/ReturnBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validate</display-name>
    <servlet-name>Validate</servlet-name>
    <servlet-class>controller.Validate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validate</servlet-name>
    <url-pattern>/Validate</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Books</display-name>
    <servlet-name>Books</servlet-name>
    <servlet-class>dto.Books</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Books</servlet-name>
    <url-pattern>/Books</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Librarian</display-name>
    <servlet-name>Librarian</servlet-name>
    <servlet-class>dto.Librarian</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Librarian</servlet-name>
    <url-pattern>/Librarian</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>dto.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JDBCUtil</display-name>
    <servlet-name>JDBCUtil</servlet-name>
    <servlet-class>util.JDBCUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JDBCUtil</servlet-name>
    <url-pattern>/JDBCUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestConnection</display-name>
    <servlet-name>TestConnection</servlet-name>
    <servlet-class>util.TestConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestConnection</servlet-name>
    <url-pattern>/TestConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestJDBCUtil</display-name>
    <servlet-name>TestJDBCUtil</servlet-name>
    <servlet-class>util.TestJDBCUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestJDBCUtil</servlet-name>
    <url-pattern>/TestJDBCUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchStudentServlet</display-name>
    <servlet-name>SearchStudentServlet</servlet-name>
    <servlet-class>controller.SearchStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchStudentServlet</servlet-name>
    <url-pattern>/SearchStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewProfile</display-name>
    <servlet-name>ViewProfile</servlet-name>
    <servlet-class>controller.ViewProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewProfile</servlet-name>
    <url-pattern>/ViewProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProfileServlet</display-name>
    <servlet-name>EditProfileServlet</servlet-name>
    <servlet-class>controller.EditProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProfileServlet</servlet-name>
    <url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>controller.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowBookServlet</display-name>
    <servlet-name>BorrowBookServlet</servlet-name>
    <servlet-class>controller.BorrowBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowBookServlet</servlet-name>
    <url-pattern>/BorrowBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBookStud</display-name>
    <servlet-name>IssueBookStud</servlet-name>
    <servlet-class>controller.IssueBookStud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBookStud</servlet-name>
    <url-pattern>/IssueBookStud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBookStudent</display-name>
    <servlet-name>ReturnBookStudent</servlet-name>
    <servlet-class>controller.ReturnBookStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookStudent</servlet-name>
    <url-pattern>/ReturnBookStudent</url-pattern>
  </servlet-mapping>
</web-app>